<div class=aboutevents>
    <h1 style="text-align: center;">Eventify</h1>
    <br>
    <br>
    <h4><i>"Clubs and organizations let students congregate around a common cause, interest or course of study at a time when social connections are crucial"</i></h4>
    <br>
    <br>
    <br>
    <h3>Eventify provides a paltform for student communities and collages to add details/information about upcomming events ;a join initiative of a group tech-enthusiastic of collage students who wish to explore various oppurtunities ahead of them.
        Eventify aims to bring together information of all possible events,hacathons,webinars at one single platform.
        Students gain real-world experience and practice important habits like leadership, problem-solving, time-management and offers students the opportunity to apply their classroom learning to practical scenarios that have real implications.
    </h3>
</div>
<br>
<br>
<br>