<div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>EVENTS 
            <p class="lead"></p>
          </h1>
        </div>          
              </div>
            </div>
          </div>
          <a   class="btn spaceevent btn-primary pull-right btnNext"  routerLink="/addevent">Add event</a>
             <div class="row"  *ngFor="let emngmt of apidata">    
               
            <br>
             
           
                        <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src = {{emngmt.image}} width="193" height="190" ></a>
            </div>
          
            <div class="col-md-10 col-sm-9" >
              <h3>{{emngmt.title}}</h3>
              <h3>{{emngmt.date}}</h3>
              <h3>{{emngmt.description}}</h3>
             
              <div class="row">
             
                <div class="col-xs-9">
                  <h4>
                  <small style="font-family:courier,'new courier';" class="text-muted">

                </small>
                  </h4>
                  <a  [routerLink] ="['/updateevent',emngmt._id]"  class="btn btn-primary pull-right btnNext">Update</a>
            <a  routerLink="/events" (click) ="onClickDelete(emngmt._id)" class="space btn btn-primary pull-right btnNext">Delete</a>
                </div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>